<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Stay at Home Music Scheduler</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/styles/create_lesson.css">
</head>

<body>




	<table class="centre-login-form">
		<tr>
			<th>
				<div class="jumbotron jumbotron-fluid" id="title">

					<h1 class="display-4">Event Information</h1>
					<p class="lead">Viewing the event selected on the calendar page.
						<br>
						Please exit this tab to return to the calendar page.
					</p>
				</div>
			</th>
		</tr>
		<tr>
			<th>
				<div id="lesson">
					<form action="/select_instruments_t/update_instruments" method="POST">
						<div class="form-group">
							<table class="table table-hover">
								<tbody>
									<tr>
										<td>Parent:</td>
										<td th:text="${eventInfo.parent}"></td>
									</tr>
									<tr>
										<td>Teacher:</td>
										<td th:text="${eventInfo.teacher}"></td>
									</tr>
									<tr>
										<td>Instrument: </td>
										<td th:text="${eventInfo.instrument}"></td>
									</tr>
									<tr>
										<td>Date:</td>
										<td th:text="${eventInfo.date}"></td>
									</tr>
									<tr>
										<td>Length:</td>
										<td th:text="${eventInfo.length}"></td>
									</tr>
								</tbody>
							  </table>
						</div>
					</form>
				</div>
			</th>
		</tr>
	</table>
</body>

</html>