<nav class = "navbar navbar-expand-lg navbar-light bg-light" id = "navbaritem">
    <a class="navbar-brand" href="#">Stay at Home Music Scheduler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Teacher
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Calendar</a>
                    <a class="dropdown-item" href="/set_avail">Set Availability</a>
                    <a class="dropdown-item" href="/time_off_t">Time Off Requests</a>
                    <a class="dropdown-item" href="#">Create Lesson</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Contacts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Owner
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/calendar">Calendar</a>
                    <a class="dropdown-item" href="#">View All Requests</a>
                    <a class="dropdown-item" href="/create_lesson">Create Lesson</a>
                    <a class="dropdown-item" href="#">Accounts</a>
                    <a class="dropdown-item" href="#">Contacts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Parent
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Calendar</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Contacts</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Log out</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Instrument, Lastname ..." aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
        </form>
      </div>
</nav>
